<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>麻雀結果表示</title>
    <link rel="stylesheet" href="css/style_income.css">
  </head>
  <body>
    <ul id="linkbox">
      <li id="link"><a href="index.html">点数計算ツール</a></li>
    </ul>
    <h1>麻雀結果表示アプリ</h1>
    <div id="point_forms">
      <div id="kamicha">
        <label for="kamicha">上家</label><br>
        <input type="number" name="kamicha" v-model="kamicha">
      </div>
      <div id=column>
        <label for="toimen">対面</label>
        <input type="number" name="toimen" v-model="toimen">
        <button id="OK">OK</button>
        <label for="zicha" id="zicha">自家</label>
        <input type="number" name="zicha" v-model="zicha">
      </div>
      <div id="shimocha">
        <label for="shimocha">下家</label><br>
        <input type="number" name="shimocha" v-model="shimocha">
      </div>

      <div id=sum>
        <p>4人の合計得点は{{ sum }}点です</p>
        <p>{{ isCorrect }}</p>
      </div>
    </div>

    <div id="results">
      <table>
        <tr>
          <th>対面</th>
          <th>上家</th>
          <th>自家</th>
          <th>下家</th>
        </tr>
        <tr>
          <td id="toimen_result_html">-</td>
          <td id="kamicha_result_html">-</td>
          <td id="zicha_result_html">-</td>
          <td id="shimocha_result_html">-</td>
        </tr>
      </table>
      <button id=resetButton>Reset</button>
    </div>



    <script src="js/vue.js"></script>
    <script src="js/balanceChecker.js"></script>
  </body>
</html>