body {
  padding: 20px;
  background-color: #eeeeee;
  font-family: "游明朝体", "YuMincho";
  font-weight: bold;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

#inputArea {
  display: flex;
  flex-direction: column;
  width: 200px;
}

input {
  width: 150px;
  margin-top: 3px;
}

#tsumo {
  font-weight: normal;
}

#inputArea div {
  display: flex;
}

#showBtn {
  width: 40px;
  height:20px;
  margin-top: 5px;
  margin-right: 5px;
  user-select: none;
  font-weight: bold;
}

#clearBtn {
  width: 50px;
  height:20px;
  margin-top: 5px;
  user-select: none;
  font-weight: bold;
}

ul {
  width:300px;
  height: 400px;
  border: solid;
  list-style: none;
}

#showPoints {
  margin-left: 30px;
}

legend {
  margin-top: 3px;
}

.disable {
  background-color: dimgray;
}

#linkbox {
  position: fixed;
  background-color: aqua;
  width: 40px;
  height: 40px;
  transition: all .2s;
  overflow: hidden;
}

#linkbox:hover {
  padding: 5px;
  width: 150px;
  height: 200px;
  transition: .5s;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: .2;
}