body {
  padding: 20px;
background-color: rgb(235, 235, 235);
}

h1 {
  text-align: center;
}

#point_forms {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#column {
  display: flex;
  flex-direction: column;
}

#OK {
  width: 130px;
  margin: 40px 30px;
}

#kamicha {
  margin-top: 60px;
}

#shimocha {
  margin-top: 60px;
}

input {
  font-weight: bold;
}

#sum {
  position: absolute;
  right: 70%;
  font-weight: bold;
}

#results {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

table {
  width: 500px;
  margin: 30px auto 0 auto;
  background-color: white;
  border: solid;
}

table * {
  border: solid;
}

td {
  font-weight: bold;
}

.underzero {color: rgb(255, 22, 22)}

#resetButton {
  width: 150px;
  margin:20px auto 0 auto;
}

button:hover {
  cursor: pointer;
  user-select: none;
}